# Dependencies
node_modules

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Tina
tina/__generated__/*

# Build directories
dist
build
out

# Não ignorar
!src/content/blog
!src/assets